{# templates/admin/users/edit.html.twig #}
{% extends 'base.admin.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4">Modifier l'utilisateur</h1>

    <div class="card shadow">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword, {
                            required: false,
                            help: 'Laisser vide pour ne pas modifier'
                        }) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h5 class="mb-3">Rôles</h5>
                        {{ form_row(form.roles) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Mettre à jour
                </button>
                <a href="{{ path('admin_users') }}" class="btn btn-outline-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Retour
                </a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}